In [3]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [4]:
df=pd.DataFrame(pd.read_csv("Coursera.csv"))

In [5]:
df.head()

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

In [6]:
tfidf= TfidfVectorizer(stop_words="english")

df['Course Description']= df["Course Description"].fillna("")
tfidf_matrix =tfidf.fit_transform(df['Course Description'])

In [7]:
cosine_sim = linear_kernel(tfidf_matrix,tfidf_matrix)

In [8]:
indices = pd.Series(df.index, index=df['Course Name']).drop_duplicates()
indices

Course Name
Write A Feature Length Screenplay For Film Or Television                 0
Business Strategy: Business Model Canvas Analysis with Miro              1
Silicon Thin Film Solar Cells                                            2
Finance for Managers                                                     3
Retrieve Data using Single-Table SQL Queries                             4
                                                                      ...
Capstone: Retrieving, Processing, and Visualizing Data with Python    3517
Patrick Henry: Forgotten Founder                                      3518
Business intelligence and data analytics: Generate insights           3519
Rigid Body Dynamics                                                   3520
Architecting with Google Kubernetes Engine: Production                3521
Length: 3522, dtype: int64

In [15]:
def get_recommend(name, cosine_sim= cosine_sim): # type: ignore # type: ignore
    idx=indices[name]
    sim_score= enumerate(cosine_sim[idx])
    sim_score = sorted(sim_score, key= lambda x:x[1], reverse=True)
    sim_score = sim_score[1:11]
 
    sim_index= [i[0] for i in sim_score]
    print(df["Course Name"].iloc[sim_index] + "\n Link: "+df["Course URL"].iloc[sim_index]  ) 

get_recommend('Write A Feature Length Screenplay For Film Or Television')

1481    Script Writing: Write a Pilot Episode for a TV...
1629    Write Your First Novel\n\n\n Link: https://www...
3481    Transmedia Writing\n\n\n Link: https://www.cou...
2186    Presentation skills: Public Speaking Project\n...
3445    Better Business Writing in English\n\n\n Link:...
3384    English for Effective  Business Writing\n\n\n ...
2894    Automating Team Communication with Google Shee...
614     Writing in English at University\n\n\n Link: h...
2732    Writing Professional Email and Memos (Project-...
104     Business Writing\n\n\n Link: https://www.cours...
dtype: object